$bag_col_h1: #e9e9e9;
$font_si_h1: 38px;
$font_si_h1_p:18px;
$color_h1_p:#787878;
$color_text_h1_a:white;
$font_si_h1_a:12px;
$font-main: Montserrat, sans-serif;
$font-sub: Nunito Sans, sans-serif;

.we_design {
  padding-top: 238px;
  padding-bottom: 200px;
  background-color: $bag_col_h1;


 .bloc_text{
   max-width: 480px;
   text-align: left;
   @include max-screen (767px){
     text-align: center;}


   h1{
     font-family:$font-main;
     font-size:$font_si_h1;
     margin-bottom: 30px;

   }

   p{
     text-align: left;
     font-family:$font-sub;
     font-size: $font_si_h1_p;
     color: $color_h1_p;
     line-height: 28px;
     margin-bottom: 40px;
     @include max-screen (767px){
       text-align: center;
       margin: 0 15px;}
   }

   a{
     display: inline-block;
     padding: 20px 45px;
     background-color: $sub-color;
     color: $color_text_h1_a;
     font-size:12px ;
     font-family:$font-sub;
     text-transform: uppercase;
     text-decoration: none;
     border: 2px solid $sub-color;
     @include max-screen (767px){
       margin-top: 20px;}
     }
   }

   a:hover{
     color: $sub-color;
     background-color: $color_text_h1_a;
     border: 2px solid $sub-color;
   }
 }


.d-j_end{
  justify-content: flex-end;
  @include max-screen (767px){
    justify-content: center;
  }
}




