@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito+Sans&display=swap');
@import url(https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css);
@import url(https://resources/demos/style.css);
@import "rybalka_style";
@import "mi_style";
@import "valli_style";
@import "Anastasia_style";
@import "evgeniya_style";
@import "yevhenii_style";
@import "kaleriia_style";
@import "alex_style";
@import "katerina_style";
@import "ivan2_style";
@import "polina_style";

$font-main: Montserrat, sans-serif;
$font-sub: Nunito Sans, sans-serif;
$font-main-color: #191919;
$main-bg-color: #f5f5f5;
$sub-color: #10c9c3;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}
.d-flex {
  display: flex;
}
.d-wrap {
  flex-wrap: wrap;
}
.main-box {
  padding: 100px 15px;
}
h2 {
  display: inline-block;
  width: 100%;
  font-size: 30px;
  font-family: $font-main;
  color: $font-main-color;
  text-align: center;
  margin-bottom: 40px;
}
p {
  display: inline-block;
  font-size: 16px;
  font-family: $font-sub;
  color: #787878;
  line-height: 24px;
  text-align: center;
}

