@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito+Sans&display=swap');

@import "Evgeniya _style";

//VARIABLES FONT
$family-main: 'Montserrat', sans-serif;
$family-sub:'Nunito Sans', sans-serif;
$font_main:12px;
$font_p: 16px;
$font-color:#191919;
$font-color_sub:#787878;
$font-wght:500;





