$font-main: Montserrat, sans-serif;
$font-sub: Nunito Sans, sans-serif;
$font-main-color: #191919;
$main-bg-color: #f5f5f5;
$sub-color: #10c9c3;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}
section.numbers {
  padding: 101px 15px;
  background-color: $sub-color;
  font-size: 12px;
  text-transform: uppercase;
  .container.d-flex{
    position: relative;
    max-width: 1165px;
    justify-content: space-between;
    flex-wrap: nowrap;
    @include max-screen(992px) {
      padding: 0 15px 0;
    }
    @include max-screen(767px){
      flex-wrap: wrap;
    }
    .number.d-flex {
      width: 266px;
      transition: 0.6s;
      cursor: pointer;
      @include max-screen(992px) {
        display: block;
        flex-wrap: wrap;
        justify-content: center;
      }
      @include max-screen(767px){
        width: 50%;
        transform: scale(1.2);
        margin-bottom: 60px;
      }
      @include max-screen(420px){
        width: 100%;
      }
      &:hover{
        transform:scale(1.3);
      }
      img {
        margin-right: 29px;
        @include max-screen(992px) {
          display: block;
          margin: 0 auto 20px;
        }
      }
      .paragraph {
        align-content: space-between;
        flex-wrap: wrap;
        p {
          display: block;
          font-family: $font-main;
          font-size: 12px;
          color: #fff;
          text-align: left;
          @include max-screen(992px) {
            display: block;
            text-align: center;
            line-height: 12px;
          }
          span {
            display: block;
            width: 100%;
            font-size: 18px;
            margin-right: 30px;
            @include max-screen(992px) {
              margin: 0 auto 20px;
            }
          }
        }
      }
    }
  }
}
